*{
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}
body{
    background: url("bg.jpeg");
    background-size: 100%;
}
.headline{
    margin-top: 0;
    font-size: 5rem;
    background: green;
    border: 5px solid black;
    color: blanchedalmond;    
}
h1{
    font-size: 2rem;
    margin: 0;
    text-decoration-line: underline;
}
h2{
    font-size: 1.5rem;
    border: 2px solid white;
    color: white;
}
.small-text{ 
    font-size: 1rem;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container-board{
    outline: 5px solid rgb(39, 16, 7);
    display: flex;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-squares{
    width: 40px;
    height: 40px;
}
.white-cell{
    background: rgb(255, 197, 89); 
}
.black-cell{
    background: rgb(85, 64, 26);
}

.circle {
    margin: 4px;
    height: 30px;
    width: 30px;
    background: darkred;
    border-radius: 50%;
    border: 2px solid wheat;
    display: inline-block;
}
.available-move{
    background:  rgb(85, 64, 26);
    border: 2px solid wheat;
    display: inline-block;
}

.black-piece{
    background: black;
}

.available-to-move{
    border: 4px solid lightblue;
}

.turn-indicator{
    background: darkgreen;
}

img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.btn{
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    width: 120px;
    height: 40px;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    background: transparent;
    color: white;
}
.hover{
    width: 200px;
    font-size: 2rem;
}
.instructions-container{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    background: black;
    border-radius: 1%;
    opacity: 40%;
}
#instructions{
    font-Size: 1.75rem;
    font-weight: 700;
    color: white;
    opacity: 100%;
}
@media only screen and (min-width: 600px) {
    .btn{
        width: 150px;
        height: 50px;
        font-size: 2rem; 
        margin: 20px;
    }
    .hover{
        width: 300px;
        font-size: 3rem;
    }
    img{
        width: 50px;
        height: 50px;
        margin-top: 3px;
    }
    .circle {
        margin: 4px;
        height: 60px;
        width: 60px;
        background: darkred;
        border-radius: 50%;
        border: 2px solid wheat;
        display: inline-block;
    }
    .flex-squares{
        width: 70px;
        height: 70px;
    }
    .available-move{
        background:  rgb(85, 64, 26);
        border: 2px solid wheat;
        display: inline-block;
    }
    
    .black-piece{
        background: black;
    }
    
    .available-to-move{
        border: 4px solid lightblue;
    }
    
    .turn-indicator{
        background: darkgreen;
    }
    .instructions-container{
        display: block;
        margin-left: 120px;
        margin-right: 120px;
        background: black;
        border-radius: 10%;
        opacity: 50%;
    }
    #instructions{
        font-Size: 1.75rem;
        color: white;
    }
    h1{
        margin: 0;
        text-decoration-line: underline;
    }
    }